In [1]:
import pandas as pd
import numpy as np
cars = pd.read_csv('samochody1tys.csv')

In [8]:
#wyswietlenie DataFrame cars
cars

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [9]:
#wyswietlenie typow kazdej kolumny
cars.dtypes

id                     int64
marka                 object
model                 object
rok_produkcji        float64
rodzaj_silnika        object
pojemnosc_silnika    float64
przebieg             float64
cena                 float64
wojewodztwo           object
dtype: object

In [10]:
#wyswietlenie pierwszych x rekordow
cars.head(5)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie

In [11]:
#wyswietlenie ostatnich x rekordow
cars.tail(5)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [6]:
#wyswietlanie zakresu indexow
cars.index

RangeIndex(start=0, stop=1000, step=1)

In [7]:
#wyswietlanie kolumn
cars.columns

Index(['id', 'marka', 'model', 'rok_produkcji', 'rodzaj_silnika',
       'pojemnosc_silnika', 'przebieg', 'cena', 'wojewodztwo'],
      dtype='object')

In [8]:
#reprezentacja DataFrame za pomoca NumPy, ktory sprawdzi typ danych kolumn i sprowadzi je do jednego,
#wspolnego typu - w tym przypadku Object
cars.to_numpy()

array([[0, 'Nissan', 'X-Trail III', ..., 160000.0, 75900.0,
        'Dolnośląskie'],
       [1, 'BMW', 'X1 E84', ..., 149000.0, 70900.0, 'Świętokrzyskie'],
       [2, 'Opel', 'Zafira A', ..., 99000.0, 9800.0, 'Opolskie'],
       ...,
       [997, 'Renault', 'Modus', ..., 168111.0, 10900.0, 'Łódzkie'],
       [998, 'Audi', 'A3 8L', ..., 226500.0, 5400.0, 'Małopolskie'],
       [999, 'Volvo', 'XC 60 I', ..., 13617.0, 136900.0, 'Małopolskie']],
      dtype=object)

In [2]:
#zwrocenie podstawowej statystyki naszych danych
cars.describe()

,id,rok_produkcji,pojemnosc_silnika,przebieg,cena
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,499.500000,2009.009000,2040.065000,132556.677000,51942.181000
std,288.819436,5.907946,6014.545066,90094.944138,70057.918015
min,0.000000,1979.000000,1.000000,1.000000,650.000000
25%,249.750000,2005.000000,1500.000000,51750.000000,14900.000000
50%,499.500000,2009.000000,1800.000000,149000.000000,27250.000000
75%,749.250000,2014.000000,2000.000000,193000.000000,58900.000000
max,999.000000,2017.000000,191000.000000,647000.000000,616000.000000

In [3]:
#transpozycja danych
cars.T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
id,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
marka,Nissan,BMW,Opel,Hyundai,Volkswagen,Fiat,Nissan,Seat,Volkswagen,Nissan,...,Mercedes-Benz,Chevrolet,Renault,Fiat,Fiat,Alfa Romeo,Škoda,Renault,Audi,Volvo
model,X-Trail III,X1 E84,Zafira A,i10 I,CC,500,X-Trail I,Toledo II,CC,Juke,...,Klasa S W126,Cruze,Clio IV,Tipo II,Bravo II,159,Fabia II,Modus,A3 8L,XC 60 I
rok_produkcji,2014,2012,2004,2008,2010,2014,2004,2000,2014,2016,...,1986,2010,2017,2017,2007,2009,2012,2004,2000,2016
rodzaj_silnika,Diesel,Diesel,Benzyna+CNG,Benzyna,Diesel,Elektryczny,Diesel,Benzyna,Diesel,Benzyna,...,Benzyna+LPG,Benzyna,Benzyna,Benzyna,Diesel,Diesel,Benzyna,Benzyna,Benzyna,Diesel
pojemnosc_silnika,1600,2000,1600,1100,1968,1,2200,1800,1968,1197,...,2600,1598,898,1400,1910,2387,1200,1200,1595,1969
przebieg,160000,149000,99000,93000,127428,36800,174000,140700,52000,18000,...,336000,7560,1,2,217200,182000,42700,168111,226500,13617
cena,75900,70900,9800,11900,49900,74200,23200,8150,97000,56900,...,21500,21900,58000,47350,18900,33900,25400,10900,5400,136900
wojewodztwo,Dolnośląskie,Świętokrzyskie,Opolskie,Łódzkie,Wielkopolskie,Śląskie,Dolnośląskie,Pomorskie,Pomorskie,Mazowieckie,...,Świętokrzyskie,Warmińsko-mazurskie,Śląskie,Mazowieckie,Świętokrzyskie,Małopolskie,Lubelskie,Łódzkie,Małopolskie,Małopolskie

In [6]:
#sortowanie danych wzgledem kolumn - ascencind=False ustawia sortowanie malejaco
cars.sort_index(axis=1, ascending=False)

,wojewodztwo,rok_produkcji,rodzaj_silnika,przebieg,pojemnosc_silnika,model,marka,id,cena
0,Dolnośląskie,2014.0,Diesel,160000.0,1600.0,X-Trail III,Nissan,0,75900.0
1,Świętokrzyskie,2012.0,Diesel,149000.0,2000.0,X1 E84,BMW,1,70900.0
2,Opolskie,2004.0,Benzyna+CNG,99000.0,1600.0,Zafira A,Opel,2,9800.0
3,Łódzkie,2008.0,Benzyna,93000.0,1100.0,i10 I,Hyundai,3,11900.0
4,Wielkopolskie,2010.0,Diesel,127428.0,1968.0,CC,Volkswagen,4,49900.0
...,...,...,...,...,...,...,...,...,...
995,Małopolskie,2009.0,Diesel,182000.0,2387.0,159,Alfa Romeo,995,33900.0
996,Lubelskie,2012.0,Benzyna,42700.0,1200.0,Fabia II,Škoda,996,25400.0
997,Łódzkie,2004.0,Benzyna,168111.0,1200.0,Modus,Renault,997,10900.0
998,Małopolskie,2000.0,Benzyna,226500.0,1595.0,A3 8L,Audi,998,5400.0
999,Małopolskie,2016.0,Diesel,13617.0,1969.0,XC 60 I,Volvo,999,136900.0

In [8]:
#sortowanie danych na podstawie wartosci - parametr 'by' przyjmuje str albo liste str
cars.sort_values(by=['przebieg','cena'])

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
546,546,Volkswagen,up!,2017.0,Benzyna,999.0,1.0,41400.0,Łódzkie
836,836,Renault,Clio IV,2017.0,Benzyna,1200.0,1.0,42000.0,Mazowieckie
141,141,Suzuki,Baleno,2017.0,Benzyna,1200.0,1.0,43700.0,Śląskie
508,508,Fiat,Tipo II,2017.0,Benzyna,1368.0,1.0,44900.0,Pomorskie
774,774,Opel,Meriva II,2017.0,Benzyna,1400.0,1.0,48700.0,Śląskie
...,...,...,...,...,...,...,...,...,...
82,82,Mercedes-Benz,Klasa E W210,2000.0,Diesel,2148.0,362653.0,8900.0,Lubelskie
989,989,BMW,Seria 5 E39,2002.0,Diesel,2926.0,404000.0,14900.0,Dolnośląskie
971,971,Mercedes-Benz,Klasa E W211,2003.0,Diesel,2685.0,441000.0,16900.0,Lubuskie
243,243,Volkswagen,Multivan,1994.0,Diesel,2400.0,503000.0,13900.0,Mazowieckie
238,238,Mercedes-Benz,W124 (1984-1993),1991.0,Diesel,1997.0,647000.0,4000.0,Zachodniopomorskie

In [9]:
#wybranie pojedynczej kolumny
cars['marka']

0          Nissan
1             BMW
2            Opel
3         Hyundai
4      Volkswagen
          ...
995    Alfa Romeo
996         Škoda
997       Renault
998          Audi
999         Volvo
Name: marka, Length: 1000, dtype: object

In [11]:
#wybranie poszczegolnej ilosc rekordow
cars[0:900]

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
895,895,Ford,Focus Mk2,2008.0,Diesel,1560.0,149000.0,20900.0,Śląskie
896,896,Kia,Cee'd I,2009.0,Benzyna,1400.0,181000.0,21900.0,Mazowieckie
897,897,Suzuki,Grand Vitara II,2008.0,Diesel,1870.0,146100.0,32600.0,Śląskie
898,898,Ford,S-Max I,2010.0,Diesel,2000.0,172000.0,45900.0,Podkarpackie
899,899,Fiat,500L,2017.0,Benzyna,1400.0,5.0,54850.0,Mazowieckie

In [17]:
#wybranie konkretnego rekordu
cars.iloc[4]

id                               4
marka                   Volkswagen
model                           CC
rok_produkcji                 2010
rodzaj_silnika              Diesel
pojemnosc_silnika             1968
przebieg                    127428
cena                         49900
wojewodztwo          Wielkopolskie
Name: 4, dtype: object

In [20]:
#zwrocenie konkretnej ilosci rekordow oraz wybranych kolumn
cars.loc[0:50,['marka','model','rok_produkcji','przebieg','cena']]

            marka          model  rok_produkcji  przebieg      cena
0          Nissan    X-Trail III         2014.0  160000.0   75900.0
1             BMW         X1 E84         2012.0  149000.0   70900.0
2            Opel       Zafira A         2004.0   99000.0    9800.0
3         Hyundai          i10 I         2008.0   93000.0   11900.0
4      Volkswagen             CC         2010.0  127428.0   49900.0
5            Fiat            500         2014.0   36800.0   74200.0
6          Nissan      X-Trail I         2004.0  174000.0   23200.0
7            Seat      Toledo II         2000.0  140700.0    8150.0
8      Volkswagen             CC         2014.0   52000.0   97000.0
9          Nissan           Juke         2016.0   18000.0   56900.0
10         Toyota  Corolla Seria         2015.0   26415.0   53000.0
11            BMW    Seria 5 E39         2002.0  254900.0   17500.0
12     Volkswagen       Jetta A6         2014.0   59000.0   59900.0
13           Audi             A1         2011.0   90000.0   39999.0
14            BMW    Seria 3 E90         2008.0  246000.0   27999.0
15        Citroën   C4 Picasso I         2007.0  181658.0   16900.0
16           Ford     Mondeo Mk3         2003.0  180000.0    7200.0
17  Mercedes-Benz   Klasa E W213         2017.0       5.0  258709.0
18     Volkswagen      Tiguan II         2017.0       5.0  128900.0
19  Mercedes-Benz        GLK GLK         2012.0   89000.0   89000.0
20          Honda        CR-V IV         2017.0       5.0  111600.0
21  Mercedes-Benz   Klasa E W213         2017.0       2.0  292800.0
22      Chevrolet        Captiva         2006.0  219000.0   24999.0
23          Volvo            V50         2011.0  170000.0   26900.0
24          Volvo         S40 II         2008.0  232000.0   19999.0
25            BMW    Seria 3 E46         2001.0  218000.0   16800.0
26          Volvo          S60 I         2003.0  228000.0   12600.0
27            BMW    Seria 5 E39         2001.0  215000.0   17900.0
28         Toyota    Avensis III         2009.0  179000.0   34900.0
29           Opel     Insignia A         2010.0  179000.0   31900.0
30           Ford         Ranger         2011.0  164000.0   55000.0
31           Fiat        Doblo I         2002.0  208000.0    8700.0
32         Suzuki    SX4 S-Cross         2017.0       1.0   73900.0
33  Mercedes-Benz        CLA CLA         2017.0     500.0  194900.0
34        Citroën       Xsara II         2002.0  216005.0    4699.0
35        Renault      Espace IV         2008.0  134000.0   21900.0
36            BMW         X5 F15         2017.0       1.0  266800.0
37          Škoda    Octavia III         2016.0   11563.0  124900.0
38           Ford      Focus Mk2         2006.0  161000.0   13990.0
39           Opel       Zafira B         2010.0  132870.0   25900.0
40           Opel       Meriva I         2004.0  204000.0    7000.0
41           Audi          A3 8P         2004.0  140910.0   21999.0
42         Nissan     Qashqai II         2017.0      10.0   91200.0
43          Volvo          XC 60         2017.0       1.0  158600.0
44        Renault       Kangoo I         2007.0  124000.0   15600.0
45          Volvo        XC 60 I         2016.0   20900.0  158000.0
46          Honda     Civic VIII         1997.0  200000.0    2500.0
47           Ford        S-Max I         2012.0  183000.0   47900.0
48        Renault     Laguna III         2007.0  163641.0   18900.0
49        Peugeot            207         2007.0  125123.0   13900.0
50        Renault       Scenic I         2003.0  244529.0    5400.0

In [30]:
#wybranie przedzialu rekordow
cars.iloc[50:500]

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
50,50,Renault,Scenic I,2003.0,Diesel,1870.0,244529.0,5400.0,Małopolskie
51,51,Audi,A6 C6,2006.0,Diesel,2700.0,257000.0,26800.0,Mazowieckie
52,52,Mini,Clubman,2016.0,Diesel,1995.0,8000.0,122700.0,Łódzkie
53,53,BMW,Seria 5 F10,2016.0,Diesel,1995.0,25135.0,159900.0,Pomorskie
54,54,BMW,Seria 3 E90,2008.0,Benzyna,2979.0,76000.0,32800.0,Mazowieckie
...,...,...,...,...,...,...,...,...,...
495,495,Renault,Clio III,2008.0,Benzyna,1200.0,102000.0,15800.0,Łódzkie
496,496,Opel,Astra H,2010.0,Benzyna,1600.0,96000.0,38500.0,Małopolskie
497,497,Fiat,Brava,1998.0,Benzyna,1400.0,136000.0,900.0,Śląskie
498,498,Subaru,Impreza GD,2004.0,Benzyna,1600.0,141000.0,8000.0,Łódzkie
499,499,BMW,X4,2017.0,Diesel,1995.0,2.0,254000.0,Małopolskie

In [31]:
#zwrocenie rekordow na podstawie wyrazen logicznych
cars[cars.przebieg < 130000]

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
5,5,Fiat,500,2014.0,Elektryczny,1.0,36800.0,74200.0,Śląskie
8,8,Volkswagen,CC,2014.0,Diesel,1968.0,52000.0,97000.0,Pomorskie
...,...,...,...,...,...,...,...,...,...
991,991,Chevrolet,Cruze,2010.0,Benzyna,1598.0,7560.0,21900.0,Warmińsko-mazurskie
992,992,Renault,Clio IV,2017.0,Benzyna,898.0,1.0,58000.0,Śląskie
993,993,Fiat,Tipo II,2017.0,Benzyna,1400.0,2.0,47350.0,Mazowieckie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [24]:
#ustawianie wartosci w kolumnie za pomoca NumPy
cars.loc[:,'cena'] = np.array([0] * len(cars))
cars

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,0.0,0.0,0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,0.0,0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,0,Małopolskie

In [25]:
#usuwanie kolumn, ktora posiadaja brakujace dane (w naszym wypadku nic nie zostanie usuniete)
cars.dropna(how='any')
#cars.fillna(value=...) - w tym miejscu moglibysmy uzupelnic nasze brakujace dane

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,0.0,0.0,0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,0.0,0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,0,Małopolskie

In [27]:
#zwrocenie sredniej danych
cars.mean()
#mozemy tez sprecyzowac, z ktorej osi chcemy pobrac nasze statystyki
cars.mean(1)

0        402.8
1        802.6
2      20521.2
3      19222.2
4      26282.0
        ...
995    37478.2
996     9381.6
997    34462.4
998    46218.6
999     3720.2
Length: 1000, dtype: float64

In [28]:
#zwrocenie lacznej sumy naszych danych - do kazdego n rekordu, dodawane sa wartosci z rekordu n-1
cars.apply(np.cumsum)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,0.0,0.0,0,Dolnośląskie
1,1,NissanBMW,X-Trail IIIX1 E84,4026.0,DieselDiesel,2000.0,0.0,0,DolnośląskieŚwiętokrzyskie
2,3,NissanBMWOpel,X-Trail IIIX1 E84Zafira A,6030.0,DieselDieselBenzyna+CNG,3600.0,99000.0,0,DolnośląskieŚwiętokrzyskieOpolskie
3,6,NissanBMWOpelHyundai,X-Trail IIIX1 E84Zafira Ai10 I,8038.0,DieselDieselBenzyna+CNGBenzyna,4700.0,192000.0,0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkie
4,10,NissanBMWOpelHyundaiVolkswagen,X-Trail IIIX1 E84Zafira Ai10 ICC,10048.0,DieselDieselBenzyna+CNGBenzynaDiesel,6668.0,319428.0,0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
...,...,...,...,...,...,...,...,...,...
995,495510,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2000977.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2032501.0,131796749.0,0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
996,496506,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2002989.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2033701.0,131839449.0,0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
997,497503,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2004993.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2034901.0,132007560.0,0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
998,498501,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2006993.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2036496.0,132234060.0,0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...
999,499500,NissanBMWOpelHyundaiVolkswagenFiatNissanSeatVo...,X-Trail IIIX1 E84Zafira Ai10 ICC500X-Trail ITo...,2009009.0,DieselDieselBenzyna+CNGBenzynaDieselElektryczn...,2038465.0,132247677.0,0,DolnośląskieŚwiętokrzyskieOpolskieŁódzkieWielk...

In [50]:
#grupowanie wedlug podanej kolumny - mozemy grupowac po wiekszej ilosci kolumn, przesylajac je jako liste
cars.groupby('marka').sum()

                  id  rok_produkcji  pojemnosc_silnika    przebieg  cena
marka
Alfa Romeo      2583        10017.0            10187.0   1031000.0     0
Audi           33819       140642.0           151369.0  10262448.0     0
BMW            34521       132576.0           149663.0   9613004.0     0
Chevrolet       6166        22066.0            29449.0   1651121.0     0
Chrysler         532         2002.0             2736.0    112070.0     0
Citroën        19053        80299.0            64257.0   6536047.0     0
Dacia           1983        10071.0             6636.0    238818.0     0
Daewoo           906         3996.0             2591.0    321500.0     0
Daihatsu         919         2007.0             1595.0    105060.0     0
Dodge           3493        10042.0            10615.0    687500.0     0
Fiat           19667        66284.0            49071.0   4394379.0     0
Ford           28730       118562.0           102996.0   8070220.0     0
Honda          12181        50261.0            42545.0   2179568.0     0
Hyundai        13750        62378.0            49574.0   2381919.0     0
Infiniti         294         4030.0             7396.0    123396.0     0
Jaguar          1040         4010.0             4967.0    464050.0     0
Jeep            2357        12048.0            14600.0    665004.0     0
Kia            12883        50274.0            42334.0   3387697.0     0
Lancia           436         2007.0             1248.0    135800.0     0
Land Rover      2296        10072.0            12996.0    227931.0     0
Lexus           4258        14056.0            20480.0   1011160.0     0
Ligier           548         2007.0              505.0     49000.0     0
Maserati         726         2016.0               30.0        40.0     0
Mazda          10544        42160.0            39175.0   3188937.0     0
Mercedes-Benz  29910       118397.0           158961.0   9449417.0     0
Mini            6218        22105.0            19076.0    935310.0     0
Mitsubishi      7627        36175.0            30380.0   2331122.0     0
Nissan         17612        66328.0            51462.0   3505594.0     0
Opel           51995       210872.0           176233.0  14753003.0     0
Peugeot        21050        82371.0            65635.0   5127316.0     0
Pontiac           68         1994.0             3100.0    199000.0     0
Porsche          516         4024.0             7800.0    214300.0     0
Renault        29870       118552.0            94252.0   7590843.0     0
Saab            1292         6018.0           194885.0    628000.0     0
Seat            9122        40172.0            32143.0   2740050.0     0
Smart            391         4008.0             1800.0    169000.0     0
SsangYong       1746         6035.0             6097.0    300045.0     0
Subaru           498         2004.0             1600.0    141000.0     0
Suzuki          6858        32119.0            26616.0   1637890.0     0
Toyota         25209        98476.0            82911.0   5530591.0     0
Volkswagen     45406       184889.0           165272.0  12530409.0     0
Volvo          12070        48195.0            47520.0   4227080.0     0
Škoda          18357        72392.0            55707.0   3400038.0     0

In [52]:
#sortowanie wedlug podanej kolumny
cars.sort_values(by="marka")

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
370,370,Alfa Romeo,159,2007.0,Diesel,1900.0,190000.0,0,Mazowieckie
300,300,Alfa Romeo,147,2002.0,Benzyna,2000.0,200000.0,0,Lubelskie
705,705,Alfa Romeo,Spider,1995.0,Benzyna+LPG,2000.0,175000.0,0,Małopolskie
213,213,Alfa Romeo,156,2004.0,Diesel,1900.0,284000.0,0,Lubelskie
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,0,Małopolskie
...,...,...,...,...,...,...,...,...,...
313,313,Škoda,Fabia II,2013.0,Diesel,1600.0,146000.0,0,Pomorskie
733,733,Škoda,Octavia II,2010.0,Benzyna,1200.0,38246.0,0,Wielkopolskie
978,978,Škoda,Fabia II,2014.0,Diesel,1598.0,70776.0,0,Dolnośląskie
346,346,Škoda,Fabia I,2002.0,Benzyna,1390.0,182315.0,0,Małopolskie
319,319,Škoda,Octavia II,2006.0,Benzyna,1595.0,157000.0,0,Lubuskie